@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
	font-family: 'Nunito','Barlow', sans-serif;
	font-weight: bold;

}	
.NM{
	background:  #009900;
	color: #ffffff;
	/*margin: auto;*/
	width: fit-content;
	font-size: 30px;
	border-radius: 100px;
	padding: 10px;

}
ul{
	list-style: none;
	display: inline;
}
li{
	display: inline;
	padding: 2px;
}
a{
	text-decoration: none!important;
	color: #000000!important;
}
.rightlinks{
	font-size: 20px;
	
}