@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
	font-family: 'Nunito','Barlow', sans-serif;
	font-weight: bold;
	background-image: url("../img/Developer.svg");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 650px;
	/*background: #000000;
	color: #ffffff;*/
}	
.nav{
	margin-top: 10px;
}
.NM{
	cursor: pointer;
	background:  #54B192;
	color: #ffffff;
	/*margin: auto;*/
	width: fit-content;
	font-size: 25px;
	border-radius: 200px;
	padding: 15px;


}
ul{
	list-style: none;
	display: inline;

}
li{
	display: inline;
	padding: 5px;
}
a{
	text-decoration: none!important;
	color: #000000!important;
}


.dark-light {
  background: #ffffff;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 50px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 10px;
  height: 48px;
  filter: hue-rotate(0deg);
  
  transition: all 0.1s linear;
}
.dark-light:hover{
  color: #ffffff;
  background: #000000;
  transform: scale(1.02,1.02);
}
.dark{
  background: #000000;
  color: #ffffff!important;
}
.links-on-dark{
  color: #ffffff!important;
}
.links-on-dark:hover {
  color: #00cc66!important;
}
.rightlinks{
	font-size: 20px;
	
}
strong{
	display: block;
	font-size: 40px;
	margin-top:100px;
}
p.intro{
	max-width: 370px;
	display: block;
	margin-top: 100px;
}
h3{
	margin: auto;
}
/*.active{
	//color: #ffffff;
	//border:  1px solid #00cc00;
	//border-radius: 200px;
	//background: linear-gradient( to right, #00cc00,  #ffff00);

    background-image:linear-gradient(to right,rgb(27, 39, 133),rgb(60, 0, 128));
    color:#ffffff;
    width : 130px;
    border-radius : 200px;
}

li:hover{
	background-image:linear-gradient(to right,rgb(27, 39, 133),rgb(60, 0, 128));
    color:#ffffff;
    width : 130px;
    border-radius : 200px;
}*/
.social{
	padding-right: 10px;
}
.social:hover{
	color:  #00cc00;
	transform: rotate(45deg);
}

#things{
	margin-top: 90px;
	text-align: center;
}
.skills{
	margin-top: 50px!important;
	margin: auto;
	text-align: center;
/*		border : 2px solid red;*/
}
.skills#web{	
	max-width: 300px;

}
.skills#web{
  
  max-width: 4000px;

}
.skill-img,.skill-img {
	width: 20%;
	margin-bottom: 100px;
	display: inline;
}

.description,.description h4,p{
	margin-right: 0px;
	width: 70%;
	display: inline-block;
}
.description h4,p{
	text-align: left;
}
.button2 {
	
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}
.button2:hover {
  border: 1px solid transparent;
}
.button2:hover span {
  position: absolute;
  display: block;
}
.button2:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.button2:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.button2:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%, 100% {
    height: 2px;
    right: 100%;
  }
}
.button2:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.leafs{
  display: inline;
	overflow: hidden;
  transition-duration: 5s;
  transform: rotate(5deg);
}
#skill1:hover ~ .leafs{
  transition-duration: 5s;
  transform: rotate(0deg);
}
.leafs:hover{
  transition-duration: 5s;
  transform: rotate(0deg);

}
#skill2{
  display: inline;
}


body::-webkit-scrollbar {
  background-color: #0066ff;
  width: 0.5em;
  height: 0.2em!important;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color:   #000000;
  outline: 1px solid slategrey;
}
